.dropdown--container{
    display: flex;
    flex-direction: column;
    flex: 2;
    margin-left: 1em;
    border: solid 5px #7dd958;
    background-color: #7dd958;
    color: white;

}
/* .states--dropdown--container{ */

/* } */
.trip--preview--container{
    border: solid #7dd958 5px;
    /* padding: 1em; */
    margin: 1em;
    margin-top: 0%;
    background-color: #7dd958;
    padding-top: 0;
    flex: 6;
}
.trip--preview--title{
    padding-top: 0;
    margin-top: 0;
    background-color: #7dd958;
    color: white;
}
.parks--preview{
    padding: 1em;
    background-color: white;
}
.attractions--preview{
    padding: 1em;
    background-color: white;
}
.eateries--preview{
    padding: 1em;
    background-color: white;
}
.forecast--trips--container{
    flex: 2;
}

h2 {
    margin-top: 0;
}