.dropdown--container{
    display: flex;
    flex-direction: column;
    flex: 2;
    margin-left: 1em;
    border: solid 5px #7dd958;
    background: rgb(88,193,217);
    background: radial-gradient(circle, rgb(96 202 149) 35%, rgba(125,217,88,1) 100%);
    color: black;
    max-height: 40em;

}
    /* TODO margin bottom on all dropdowns!!!! You asshole */

.states--dropdown--container{
    margin-bottom: 0.5em;
}

.parks--dropdown--container{
    margin-bottom: 0.5em;
}

.attractions--dropdown--container{
    margin-bottom: 0.5em;
}

.eateries--dropdown--container{
    margin-bottom: 0.5em;
}
/* .states--dropdown--container{ */

/* } */
.trip--preview--container{
    border: solid #7dd958 5px;
    /* padding: 1em; */
    /* background-color: #7dd958; */
    background: rgb(88,193,217);
    background: linear-gradient(236deg, rgba(88,193,217,1) 0%, rgba(125,217,88,1) 49%); 
    padding-top: 0;
    margin: 0px 1em 0px 1em;
    margin-top: 0%;
    flex: 6;
}

.trip--preview--container p {
    margin: .5em 0px .5em 0px;
}
.trip--preview--title{
    padding-top: 0;
    margin-top: 0;
    /* background-color: #7dd958; */
    color: black;
}
.parks--preview{
    padding: .5em;
    background-color: white;
}
.attractions--preview{
    padding: .5em;
    background-color: white;
}
.eateries--preview{
    padding: .5em;
    background-color: white;
}
.forecast--trips--container{
    flex: 2;
    
}

.day--forecast--display--5 {
    margin-bottom: 1em;
}

.day--forecast--display--1 h4 {
    margin-top: .5em;
}

#parks--select {
    max-width: 65%;
}


.forecast--container {
    display: flex;
    flex-direction: column;
    background-color: #35b7d1;
    padding: 1em;
}
.forecast--display{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-shadow: 0.04em 0.05em black;
    padding-left: .5em;
}
.saved--trip ul{
    list-style-type: none;
}

