footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 5em;
    width: 100%;
    align-content: flex-end;
    /* background: rgb(45,92,103); */
    background: linear-gradient(289deg, rgba(45,92,103,1) 0%, rgba(80,177,200,1) 37%, rgba(125,217,88,1) 73%);
    color: white;
    margin-top: auto;
    text-align: center;
}
