footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 5em;
    width: 100%;
    align-content: flex-end;
    background: linear-gradient(0deg, rgba(125,217,88,1) 0%, rgb(0 175 239) 100%);
    color: white;
    margin-top: auto;
    text-align: center;
}
