header {
    display: flex;
    align-items: center;
    border-bottom: solid 5px black;
    margin-bottom: 2em;
    /* background: rgb(45,92,103); */
    background: linear-gradient(289deg, rgba(45,92,103,1) 0%, rgba(80,177,200,1) 37%, rgba(125,217,88,1) 73%);
    color: white
}
h1 {
    margin-left: .5em;
    font-family: 'Lora';
}
#logoPic {
    height: 10em;
}