header {
    display: flex;
    align-items: center;
    border-bottom: solid 5px black;
    margin-bottom: 2em;
    background: rgb(125,217,88);
    background: linear-gradient(0deg, rgba(125,217,88,1) 0%, rgba(124,124,124,1) 100%);
    color: white
}
h1 {
    margin-left: .5em;
    font-family: 'Lora';
}
#logoPic {
    height: 10em;
}